@model List<WishListViewModel>
@{
    ViewData["Title"] = "Index";
}

<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Wishlist</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a>/</li>
                    <li><span>Wishlist</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="cart-item-table commun-table wishlist">
                    <div class="table-responsive">
                        @if (Model.Count == 0)
                        {
                            <div class="text-center"><h2 class="font-weight-bolder">Wishlist are Empty</h2></div>
                        }
                        else
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Stock Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id=@(item.Id+"tr")>
                                            <td>
                                                <a href="product-page.html">
                                                    <div class="product-image"><img alt="Stylexpo" src="images/product/@item.ImageUrl"></div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="product-title">
                                                    <h4><a href="product-page.html">@item.Name</a></h4>
                                                    <div class="size-text"> <span class=" text-muted">PRODUCT SKU : </span><b><u> @item.Sku</u></b></div>
                                                </div>
                                            </td>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <div class="base-price price-box"> <span class="price">$@item.Price</span> </div>
                                                    </li>
                                                </ul>
                                            </td>

                                            @if (item.Aviability is "1")
                                            {
                                                item.Aviability = "IN STOCK";
                                            }
                                            else
                                            {
                                                item.Aviability = "OUT Of STOCK";
                                            }
                                            <td class="availability font-weight-bolder">@item.Aviability</td>
                                            <td>
                                                <a href="cart.html">
                                                    <i title="Shopping Cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </a>
                                                <a id="productLink">
                                                    <input type="hidden" id="productId" value="@item.Id">
                                                    <i title="Remove Item From Cart" class="fa fa-trash cart-remove-item"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-30">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-30">
                        <a asp-controller="shop" asp-action="index" class="btn btn-color">
                            <span><i class="fa fa-angle-left"></i></span>Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTAINER END -->
@section Scripts{
    <script>
        $(document).on('click', '#productLink', function () {
            var productId = $(this).children("#productId").val();
            $.ajax({
                type: "POST",
                url: "/WishList/DeleteProductFromWishList",
                data: { productId: productId },
                success: function () {
                    $("#" + productId + "tr").remove();
                },
                Error: function () {
                    alert("fgfhj");
                }
            });
        });
    </script>
}