@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<section class="checkout-section ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-part heading-bg mb-30">
                            <h2 class="heading m-0">Change Password</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
                        </div>
                    </div>
                </div>
                <form asp-action="changepassword" method="post" class="main-form full">
                    <div class="row">

                        <div class="col-12">
                            <div class="input-box">
                                <label asp-for="CurrentPassword">Old-Password</label>
                                <input asp-for="CurrentPassword" placeholder="Old Password">
                                <span asp-validation-for="CurrentPassword" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-box">
                                <label asp-for="NewPassword">Password</label>
                                <input asp-for="NewPassword" placeholder="Enter your Password">
                                <span asp-validation-for="NewPassword" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-box">
                                <label asp-for="ConfirmPassword">Re-enter Password</label>
                                <input asp-for="ConfirmPassword" placeholder="Re-enter your Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn-color" type="submit">Change Password</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

