@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}

<!-- Bread Crumb STRAT -->
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Forget Password</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a>/</li>
                    <li><span>Forget Password</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="checkout-section ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-8 ">
                        <form asp-action="forgetpassword" class="main-form full" method="post">
                            <div class="row">
                                <div class="col-12 mb-20">
                                    <div class="heading-part heading-bg">
                                        <h2 class="heading">Forget Password</h2>
                                        <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-box">
                                        <label asp-for="Email">E-Mail</label>
                                        <input asp-for="Email" placeholder="Enter E-Mail">
                                        <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
                                    </div>
                                </div>
                                <div class="col-12 align-center">
                                    <button type="submit" class="btn-color text-center">Send E-Mail</button>
                                </div>
                                <div class="col-12">
                                    <div class="new-account align-center mt-20"> <span>New to Stylexpo?</span> <a class="link" title="Register with Stylexpo" asp-controller="account" asp-action="register">Create New Account</a> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTAINER END -->
