@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<section class="checkout-section ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-part heading-bg mb-30">
                            <h2 class="heading m-0">Reset Password</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
                        </div>
                    </div>
                </div>
                <form method="post" asp-action="resetpassword" class="main-form full">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-box">
                                <label asp-for="Email">E-Mail</label>
                                <input asp-for="Email" placeholder="Enter E-Mail">
                                <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-box">
                                <input type="hidden" asp-for="Token" placeholder="Enter E-Mail">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-box">
                                <label asp-for="Password">New Password</label>
                                <input asp-for="Password" placeholder="New Password">
                                <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-box">
                                <label asp-for="ConfirmPassword">Re-enter Password</label>
                                <input asp-for="ConfirmPassword" placeholder="Re-enter your new Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger font-weight-bold"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn-color" type="submit">Reset Password</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>



