@{
    ViewData["Title"] = "VerifyEmail";
}

<a asp-controller="Account" asp-action="Login"
   style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: red; text-decoration: none; color: red; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #520046; display: inline-block;">
    Confirm
    Account
</a>

