@{
    ViewData["Title"] = "VerifyEmail";
}

<a asp-controller="Account" asp-action="Login" class="btn btn-outline-success m-2 d-flex justify-content-center font-weight-bold">
    Confirm
    Account
</a>

