<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stylexpo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="2 Days">
    <meta name="robots" content="ALL">
    <meta name="rating" content="8 YEARS">
    <meta name="Language" content="en-us">
    <meta name="GOOGLEBOT" content="NOARCHIVE">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/simplebar.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.html">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.html">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.html">
    @await RenderSectionAsync("Style", false)
</head>
<body class="homepage">
    <div class="se-pre-con"></div>

    <div class="modal fade" id="search_popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="popup-title">
                        <h2 class="main_title heading m-0"><span>Search</span></h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Popup Links End -->
    <!-- HEADER START -->
    <header class="navbar navbar-custom container-full-sm" id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="top-link top-link-left select-dropdown">
                            <fieldset>
                                <select name="speed" class="countr option-drop">
                                    <option selected="selected">English</option>
                                </select>
                                <select name="speed" class="currenc option-drop">
                                    <option selected="selected">AZN</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="top-right-link right-side">
                            <ul>
                                <li class="login-icon content">
                                    <a class="content-link">
                                        <span class="content-icon"></span>
                                    </a>
                                    <a href="login.html" title="Login">Login</a> or
                                    <a href="register.html" title="Register">Register</a>
                                    <div class="content-dropdown">
                                        <ul>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li class="login-icon"><a asp-controller="account" asp-action="logout" title="Login" class="text-uppercase"><i class="fa fa-user"></i> @User.Identity.Name</a></li>
                                                <li class="login-icon"><a asp-controller="account" asp-action="logout" title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
                                                <li class="login-icon"><a asp-controller="account" asp-action="changepassword" title="Change Password"><i class="fa-solid fa-lock"></i> Change</a></li>
                                            }
                                            else
                                            {
                                                <li class="login-icon"><a asp-controller="account" asp-action="login" title="Login"><i class="fa fa-user"></i> Login</a></li>
                                                <li class="register-icon"><a asp-controller="account" asp-action="register" title="Register"><i class="fa fa-user-plus"></i> Register</a></li>
                                            }


                                        </ul>
                                    </div>
                                </li>
                                <li class="track-icon">
                                    <a href="#" title="Track your order"><span></span> Track your order</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-6 col-lgmd-20per order-md-1">
                        <div class="header-middle-left">
                            <div class="navbar-header float-none-sm">
                                <a class="navbar-brand page-scroll" asp-controller="home" asp-action="index">
                                    <img style="height:50px;width:200px;" alt="Stylexpo" src="~/images/loqo.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-6 col-lgmd-20per order-md-3">
                        <div class="right-side header-right-link">
                            <ul>
                                <li class="compare-icon">
                                    <a href="compare.html">
                                        <span></span>
                                    </a>
                                </li>
                                <li class="wishlist-icon">
                                    <a asp-controller="wishlist" asp-action="index">
                                        <span></span>
                                    </a>
                                </li>
                               
                                    <li class="cart-icon">
                                        <a asp-controller="basket" asp-action="index"> <span> </span> </a>

                                    </li>
                                
                                <li class="side-toggle">
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-12 col-lgmd-60per order-md-2">
                        <div class="header-right-part">

                            <div class="main-search">
                                <div class="header_search_toggle desktop-view">
                                    <form id="search">
                                        <div class="search-box">
                                            <input id="search-products" class="input-text" type="text" placeholder="Search main...">
                                            <button class="search-btn"></button>
                                        </div>
                                        <div id="product-list"></div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row position-r">
                    <div class="col-xl-2 col-lg-3 col-lgmd-20per position-s">
                        <div class="sidebar-menu-dropdown home">
                            <a class="btn-sidebar-menu-dropdown"><span></span> Categories </a>
                            <div id="cat" class="cat-dropdown">
                                <div class="sidebar-contant">
                                    <div id="menu" class="navbar-collapse collapse">
                                        <div class="top-right-link mobile right-side">
                                            <ul>
                                                <li class="login-icon content">
                                                    <a class="content-link">
                                                        <span class="content-icon"></span>
                                                    </a>
                                                    <a asp-controller="account" asp-action="index" title="Login">Login</a> or
                                                    <a asp-controller="account" asp-action="register" title="Register">Register</a>
                                                    <div class="content-dropdown">
                                                        <ul>
                                                            <li class="login-icon"><a asp-controller="account" asp-action="index" title="Login"><i class="fa fa-user"></i> Login</a></li>
                                                            <li class="register-icon"><aasp-controller ="account" asp-action="register" title="Register"><i class="fa fa-user-plus"></i> Register</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="track-icon">
                                                    <a title="Track your order"><span></span> Track your order</a>
                                                </li>
                                                <li class="gift-icon">
                                                    <a href="#" title="Gift card"><span></span> Gift card</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="nav navbar-nav ">
                                            @await Component.InvokeAsync("CategoryNavbar")
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-lgmd-60per">
                        <div class="bottom-inner">
                            <div class="position-r">
                                <div class="nav_sec position-r">
                                    <div class="mobilemenu-title mobilemenu">
                                        <span>Menu</span>
                                        <i class="fa fa-bars pull-right"></i>
                                    </div>
                                    <div class="mobilemenu-content">
                                        <ul class="nav navbar-nav" id="menu-main">
                                            <li class="active">
                                                <a asp-controller="home" asp-action="index"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="shop" asp-action="index"><span>Shop</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="about" asp-action="index"><span>About Us</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="blog" asp-action="index"><span>Blog</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="contact" asp-action="index"><span>Contact</span></a>
                                            </li>                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-lgmd-20per">
                        <div class="right-side float-left-xs header-right-link">
                            <div class="right-side">
                                <div class="help-num">Need Help? : 03 233 455 55</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->
    @RenderBody()
    <!-- News Letter Start -->
    <section>
        <div class="newsletter">
            <div class="container">
                <div class="newsletter-inner center-sm">
                    <div class="row justify-content-center align-items-center">
                        <div class=" col-xl-10 col-md-12">
                            <div class="newsletter-bg">
                                <div class="row  align-items-center">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="d-lg-flex align-items-center">
                                            <div class="newsletter-icon">
                                                <img alt="Stylexpo" src="~/images/newsletter-icon.png">
                                            </div>
                                            <div class="newsletter-title">
                                                <h2 class="main_title">Subscribe to our newsletter</h2>
                                                <div class="sub-title">Sign up for newsletter and Get upto 50% off</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <form>
                                            <div class="newsletter-box">
                                                <input type="email" placeholder="Email Here...">
                                                <button title="Subscribe" class="btn-color">Subscribe</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- News Letter End -->
    <!-- FOOTER START -->
  @await Component.InvokeAsync("Settings")
    <div class="scroll-top">
        <div class="scrollup"></div>
    </div>
    <!-- FOOTER END -->
    <script src="~/js/jquery-1.12.3.min.js"></script>
    @*<script src="../../../../cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.downCount.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>