@model List<Category>
<div class="sidebar-contant">
    <ul>
        @foreach (var item in Model)
        {
            <li><a asp-controller="shop" asp-action="CategoryShop" asp-route-id="@item.Id">@item.Name<span> (@item.ProductCategories.Count)</span></a></li>

        }
    </ul>

</div>