@model List<OrderViewModel>
<div class="content">
    <div class="panel-header bg-white shadow-sm">
        <div class="page-inner  py-3 mb-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div class="">
                    <div class="header d-sm-flex align-items-center  text-center">
                        <h1 class="page-header banner-title">Orders</h1>
                        <ul class="breadcrumb justify-content-sm-start justify-content-center">
                            <li><a asp-controller="dashboard" asp-action="index"><i class="icon-home"></i></a></li>
                            <li><a href="#">Sales</a></li>
                            <li><a href="#">Orders</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="fas fa-list"></i> Order List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Product</th>
                                        <th>Date</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>#@item.Id</td>
                                            <td>
                                                <div class="d-flex">
                                                  
                                                    @*<img src="~/images/product/@item." alt="product" class="img-fluid img-thumbnail">*@
                                                    @foreach (var orderItem in item.Items)
                                                    {
                                                        <img src="~/images/product/@orderItem.Image" alt="product" class="img-fluid img-thumbnail">
                                                    }
                                                    
                                                </div>
                                            </td>

                                            <td>@item.Time.ToString("MMM dd,yyyy").ToUpper()</td>
                                            <td>@item.TotalCount</td>
                                            <td>&#8380;@item.Amount</td>
                                            @if(item.Status is null)
                                            {
                                                 <td><span class="badge badge-warning">Processing</span></td>
                                            }
                                            @if(item.Status is true)
                                            {
                                                <td><span class="badge badge-success">Successed</span></td>
                                            }
                                            @if(item.Status is false)
                                            {
                                                <td><span class="badge badge-dark">Cancelled</span></td>
                                            }


                                            <td class="text-right">
                                                <a class="btn btn-primary" asp-controller="order" asp-action="details" asp-route-id="@item.Id" data-toggle="tooltip" title="" data-original-title="View Details"><i class="fas fa-pen"></i></a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
        <script src="~/admin/js/custom.js"></script>
        <script >
            $(document).ready(function() {
                $('#basic-datatables').DataTable({
                });
            });
        </script>
}