
<section class="ptb-70 gray-bg error-block-main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error-block-detail error-block-bg">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6"></div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="main-error-text">404</div>
                            <div class="error-small-text">We are Sorry</div>
                            <div class="error-slogan">The page you Are Looking for does not Exist</div>
                            <div class="mt-40"> <a asp-controller="home" asp-action="index" class="btn btn-color">Back to Home</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>