@model List<BasketProductViewModel> 
<div class="banner inner-banner1 ">
    <div class="container">
        <section class="banner-detail center-xs">
            <h1 class="banner-title">Shopping Cart</h1>
            <div class="bread-crumb right-side float-none-xs">
                <ul>
                    <li><a asp-controller="home" asp-action="index">Home</a>/</li>
                    <li><span>Shopping Cart</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- Bread Crumb END -->
<!-- CONTAIN START -->
<section class="ptb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cart-item-table commun-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Sub Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var product in Model)
                                {
                                    <tr id=@(product.Id+"tbody")>
                                        
                                        <td>
                                            <input type="hidden" value="@product.Id" />
                                            <a href="product-page.html">
                                                <div class="product-image">
                                                    <img alt="Stylexpo" src="images/product/@product.Image">
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="product-title">
                                                <h4><a href="product-page.html">@product.Name</a></h4>
                                                <div class=""><span class="text-muted mr-2">Color :</span>gray</div>
                                                <div class=""><span class="text-muted mr-2">Size :</span>XL</div>
                                            </div>
                                        </td>
                                        <td>
                                            <ul>
                                                <li>
                                                    <div class="base-price price-box">
                                                        <span class="price">&#8380;@product.Price</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <div  class="product-qty">
                                                <input id="product-quality" min="1" style="width:50px" type="number" value="@product.Count" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="total-price price-box">
                                                <span class="price">&#8380;@(product.Count * product.Price)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <i id="remove-from-cart" title="Remove Item From Cart" data-id="100" class="fa fa-trash cart-remove-item"></i>
                                        </td>
                                    </tr>
                                }
                               
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-30">
            <div class="row">
                <div class="col-md-6">
                    <div class="mt-30">
                        <a href="shop.html" class="btn btn-color">
                            <span><i class="fa fa-angle-left"></i></span>
                            Continue Shopping
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-30 right-side float-none-xs">
                        <a class="btn btn-color">Update Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mtb-30">
            <div class="row">
                <div class="col-md-6 mb-xs-40">
                    <div class="estimate">
                        <div class="heading-part mb-20">
                            <h3 class="sub-heading">Estimate shipping and tax</h3>
                        </div>
                        <form class="full">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-box select-dropdown mb-20">
                                        <fieldset>
                                            <select id="country_id" class="option-drop">
                                                <option selected="" value="">Select Country</option>
                                                <option value="1">India</option>
                                                <option value="2">China</option>
                                                <option value="3">Pakistan</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box select-dropdown mb-20">
                                        <fieldset>
                                            <select id="state_id" class="option-drop">
                                                <option selected="" value="1">Select State/Province</option>
                                                <option value="2">---</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box select-dropdown mb-20">
                                        <fieldset>
                                            <select id="city_id" class="option-drop">
                                                <option selected="" value="1">Select City</option>
                                                <option value="2">---</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="cart-total-table commun-table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Cart Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Item(s) Subtotal</td>
                                        <td>
                                            <div class="price-box">
                                                <span class="price">$160.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td>
                                            <div class="price-box">
                                                <span class="price">$0.00</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Amount Payable</b></td>
                                        <td>
                                            <div class="price-box">
                                                <span class="price"><b>$160.00</b></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-30">
            <div class="row">
                <div class="col-12">
                    <div class="right-side float-none-xs">
                        <a href="checkout.html" class="btn btn-color">
                            Proceed to checkout
                            <span><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
        <script>

            $(document).on('click', '#remove-from-cart', function () {
                var productId = $(this).parent().parent().children().children().val();
                console.log(productId)

            $.ajax({
                type: "POST",
                url: "/Basket/DeleteProductBasket",
                data: { productId: productId },
                success: function () {
                    $("#" + productId + "tbody").remove();
                },
                Error: function () {
                    alert("Somthing Wrong");
                }
            });
            });

            $(document).on('change', '#product-quality', function () {
                var productId = $(this).parent().parent().parent().children().children().val();
                var count = $(this).val();

             $.ajax({
                    type: "POST",
                    url: "/Basket/ChangeProductQuality",
                    data: { productId: productId , count : count },
                    success: function () {
                      
                    },
                   
                });


            });
        </script>
}
